<div class="weight-entries-container col-md-8 col-xs-8">
    <% if @weight_entries.count > 0 %>
        <h2 class="last-weight-entry">Last Weight Entry
            <span class="last-weight"><%= "#{@weight_entries.first.exact_weight.to_f.round(2)} #{@preferred_units_string}"%><span>
        </h2>
        <% if !@first_diff %>
                <% if @diff_is_loss %>
                    <span class="weight-diff-indicator diff-is-down">
                        &darr;
                <% else %>
                    <span class="weight-diff-indicator diff-is-up">
                        &uarr;
                <% end %>
                <%= "#{@current_diff.round(3).abs} #{@preferred_units_string}"%>
                </span>
        <% end %>
    <% else %>
        <h2 class="last-weight-entry">Log your first weight entry to get started!</h2>
    <% end %>
        <div class="weigh-in">        
            <% unless flash[:error].nil? %>
                <%= render 'shared/flash' %>
            <% end %>

            <%= form_for :weight_entry, html: {novalidate: "novalidate"}, url: user_weight_entries_path do |f| %>
                <div class="form-group field <%= "has-error" if flash[:error] %>">
                        <%= f.label "exact_weight", "New weight" %>
                        <%= f.number_field "exact_weight", class: "form-control textfield small-footprint", placeholder: "... #{@preferred_units_string}" %>
                    <%= f.submit "Save", class: "btn btn-default new-weight-btn" %>
                    </div>
            <% end %> 
        </div>
 
        <div class="clear weight-chart-container">
            <canvas id="weightChart" width="500" height="265"></canvas>
        </div>
<table class="weight-entries">
    <thead>
        <tr>
            <th>Weight</th>
            <th>BMI</th>
            <th>Posted at</th>
        </tr>
    </thead>
    <tbody>
   <% @weight_entries.each do |entry| %>
        <tr height="40">
            <td height="30"><%= "#{entry.exact_weight.to_f.round(2)} #{@preferred_units_string}" %></td>
            <% if @preferred_units == 0 %>
                <td><%= ((entry.exact_weight.to_f.round(2) / @user_height**2.0) * 703.0).round(1) %></td> 
            <% elsif @preferred_units == 1 %>
                <td><%= ((entry.exact_weight.to_f.round(2) / (@user_height.to_f/100)**2.0)).round(1) %></td>
            <% end %>
            <td><%= entry.updated_at.in_time_zone(@preferred_timezone).strftime("%b, %d %Y %I:%S%p") %></td>
        </tr>
    <% end %>
    </tbody>
</table>
</div>
<script>
    Chart.defaults.global.defaultFontColor = 'rgba(255,255,255,0.8)';
    Chart.defaults.global.defaultFontSize = 10;
    var ctx = document.getElementById("weightChart");
    var myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: <%= @graph_labels.to_s.html_safe %>,
            datasets: [{
                data: <%= @graph_data.reverse %>,
                backgroundColor: 'rgba(255,255,255,0.20)',
                pointRadius: 3,
                pointHitRadius: 10,
                borderColor: 'rgb(255,255,255)',
                borderWidth: 1,
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Weight Over Time',
                fontColor: 'rgb(255,255,255)'
            },
            responsive: true,
            legend: {
                display: false,
            }
        }
    });
</script>

