<div class="weight-entries-container col-md-8 col-xs-8">
     <% if @weight_entries.count > 0 %>
        <h2 class="last-weight-entry">Last Weight Entry
            <span class="last-weight"><%= "#{@weight_entries.first.exact_weight.round(2)} #{@preferred_units_string}"%><span>
        </h2>
        <% if !@first_diff %>
            <h3>
                <% if @diff_is_loss %>
                    <span class="weight-diff-indicator diff-is-down">
                        &darr;
                <% else %>
                    <span class="weight-diff-indicator diff-is-up">
                        &uarr;
                <% end %>
                <%= "#{@current_diff.round(3).abs} #{@preferred_units_string}"%>
                </span>
            </h3>
        <% end %>
            <canvas id="weightChart" width="500" height="200"></canvas>
    <% else %>
        <h2 class="last-weight-entry">We don't have previous entries for you.
            <span class="last-weight">That's okay though, enter an initial weight to get started!</span>
        </h2>
    <% end %>
<table class="weight-entries">
    <thead>
        <tr>
            <th>Weight</th>
            <th>BMI</th>
            <th>Posted at</th>
        <tr>
    </thead>
    <tbody>
        <%= form_for :weight_entry, url: user_weight_entries_path do |f| %>
        <tr>
            <td>
                <div class="field">
                    <%= f.text_field "exact_weight", class: "textfield small-footprint", placeholder: "New Weight" %>
                </div>
            <td colspan="2"><%= f.submit "Save new entry" %> 
        <% end %> 
    <% @weight_entries.each do |entry| %>
        <tr>
            <td><%= "#{entry.exact_weight.round(2)} #{@preferred_units_string}" %></td>
            <% if @preferred_units == 0 %>
                <td><%= ((entry.exact_weight.round(2) / @user_height**2.0) * 703.0).round(1) %></td> 
            <% elsif @preferred_units == 1 %>
                <td><%= ((entry.exact_weight.round(2) / (@user_height.to_f/100)**2.0)).round(1) %></td>
            <% end %>
            <td><%= entry.updated_at.in_time_zone("Eastern Time (US & Canada)").strftime("%m-%d-%Y %r") %></td>
        </tr>
    <% end %>
    </tbody>
</table>
</div>
<script>
    Chart.defaults.global.defaultFontColor = 'rgba(255,255,255,0.8)';
    var ctx = document.getElementById("weightChart");
    var myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: <%= @graph_labels.to_s.html_safe %>,
            datasets: [{
                data: <%= @graph_data.reverse %>,
                backgroundColor: 'rgba(255,255,255,0.20)',
                pointRadius: 3,
                pointHitRadius: 10,
                borderColor: 'rgb(255,255,255)',
                borderWidth: 1,
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Weight Over Time',
                fontColor: 'rgb(255,255,255)'
            },
            responsive: true,
            legend: {
                display: false,
            }
        }
    });
</script>

