<%= form_for(@user_profile) do |f| %>
    <div class="field">
        <%= f.label :full_name, "Full Name" %>
        <%= f.text_field :full_name, placeholder: "John Appleseed", class: "textfield" %>
    </div>
    <div class="field">
        <%= f.label :gender, 'I am a...' %>
        <br>
        <select name="user_profile[gender]">
            <%= options_for_select([['Female', '1'], ['Male', '0']], @user_profile.gender) %>
        </select>
 
    </div>
    <div class="field">
        <%= f.label :prefered_units, 'Preferred Units' %>
        <em>Editing units is currently disabled</em>
        <br>
        <select name="user_profile[preferred_units]">
            <%= options_for_select([['Standard', '0'], ['Metric', '1']], @user_profile.preferred_units) %>
        </select>
    </div>

    <div class="field">
        <%= f.label :preferred_timezone, 'Preferred Timezone' %>
        <br>
        <%= select_tag "user_profile[preferred_timezone]", 
            options_for_select(@us_zones.collect { |zone| 
                [zone["name"], 
                 zone["tz_id"]] 
        }, 
            @user_profile.preferred_timezone) %>
    </div>


    <%= f.submit 'Save Your Profile', class: "btn btn-primary" %>
<% end %>
