<%= form_for(@user_profile) do |f| %>
    <%= f.label :full_name, "Full Name" %>
    <div class="field">
        <%= f.text_field :full_name, placeholder: "John Appleseed", class: "textfield small-footprint" %>
    </div>
    <%= f.label :prefered_units, "Preferred Units (standard/metric)" %>    
    <div class="field">
        <%= f.text_field :prefered_units, class: "textfield small-footprint" %>
    </div>

    <%= f.label :height, "Height (in inches)" %>
    <div class="field">
        <%= f.text_field :height, class: "textfield small-footprint" %>
    </div>

    <%= f.submit 'Save Your Profile', class: "btn btn-primary" %>
<% end %>
