<div class="auth-container">
    <h2>Your Profile</h2>
    <h3>Before we get started...</h3>
    <p>We need to capture a couple basic bits of information about you. This will only take a moment!</p>

    <%= form_for(:user_profile, url: user_user_profiles_path, method: :post) do |f| %>
        <div class="field">
            <%= f.label :full_name, "Full Name" %>
            <%= f.text_field :full_name, placeholder: "John Appleseed", class: "textfield" %>
        </div>
 
        <div class="field">
            <%= f.label :height, "Height (in inches or centimeters)" %>
            <%= f.text_field :height, class: "textfield" %>
        </div>

        <div class="field">
            <%= f.label :gender, 'I am a...' %>
            <br>
            <select name="user_profile[gender]">
                <%= options_for_select([['Female', '1'], ['Male', '0']], 1) %>
            </select>
 
        </div>
        <div class="field">
            <%= f.label :preferred_units, 'Preferred Units' %>
            <br>
            <select name="user_profile[preferred_units]">
                <%= options_for_select([['Standard', '0'], ['Metric', '1']], 0) %>
            </select>
        </div>



        <%= f.submit 'Save Your Profile', class: "btn btn-primary" %>
    <% end %>
</div>
