<!DOCTYPE html>
<html>
    <head>
        <title>WeightTrackerServer</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js' %>

        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js' %>
        <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' %>
        <% if Rails.env.production? %>
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
                    ga("create", "UA-89572998-1", "auto");
    </script>
  <% end %>
    </head>

    <body class="main-app-bg">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navigation" aria-expanded="false">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">SimpleWeightTracker</a>
            </div>

            <div class="collapse navbar-collapse" id="main-navigation">
                <ul class="nav navbar-nav navbar-right">
                    <li role="separator" class="divider"></li>
                    
                    <% if (controller_name + "#" + action_name).eql? "static_pages#index" %>
                        <li class="active">
                    <% else %>
                        <li>
                    <% end %>
                        <%= link_to "Home", root_url %>
                    </li>
                    <li role="separator" class="divider"></li>

                    <li role="separator" class="divider"></li>
                    <% if user_signed_in? %>
                        <% if (controller_name + "#" "index").eql? "weight_entries#index" %>
                            <li class="active">
                        <% else %>
                            <li>
                        <% end %>
                        <%= link_to "Weight Entries", user_weight_entries_path %>
                        </li>


                        <% if (controller_name + "#" + action_name).eql? "user_profiles#edit" %>
                            <li class="active">
                        <% else %>
                            <li>
                        <% end %>
                        <%= link_to "Your Profile", edit_user_profile_path(current_user) %>
                        </li>

                       <% if (controller_name + "#" + action_name).eql? "integrations#edit" %>
                            <li class="active">
                        <% else %>
                            <li>
                        <% end %>
                        <%= link_to "Your Integrations", edit_user_profile_path(current_user) %>
                        </li>
 
 
                        <li><%= link_to "Sign Out", destroy_user_session_path, method: "delete" %></li>
                    <% else %>
                        <% if (controller_name + "#" + action_name).eql? "sessions#new" %>
                            <li class="active">
                        <% else %>
                            <li>
                        <% end %>

                        <%= link_to "Sign In", new_user_session_path %>
                        </li>
                    <% end %>
                </ul>
            </div>
        </nav>
        <div class="container">
            <%= yield %>
        </div>
    </body>
</html>
